.perna{
    position:absolute;
    width:4px;
    height:20px;
    background:orange;
    bottom:2px;

    transform-origin:top center;

    animation:andar 0.35s infinite alternate;
}

@keyframes andar{

    from{
        transform:rotate(25deg);
    }

    to{
        transform:rotate(-25deg);
    }

}